<div class="abc-banner">
  <div style="display: flex; justify-content: center;">
    <h2 class="first_letter">M</h2><h1 class = "other-letters">y Trips</h1>
  </div>
</div>

<div class="container pt-7">
  <div class="my-trips-container">
    <h5>Upcoming trips:</h5>
    <% if @upcoming_bookings.empty?%>
      <h6>You have no upcoming trips.</h6>
    <% else %>
      <% @upcoming_bookings.each do |booking| %>
        <button class="trip-item btn" type="button" data-bs-toggle="modal" data-bs-target="#id<%=booking.id%>modal">
          <div class="trip-box">
            <h6>To:</h6><%=booking.fake_data.destination%>
            <h6>On:</h6><%=booking.fake_data.start_time.strftime("%-d %^b")%>  <%= booking.fake_data.start_time.strftime("%R") %>
          </div>
          <% if (((booking.fake_data.start_time - DateTime.now) / 86400).floor) > 1 %>
            <h6 class="trip-countdown">Only <%= ((booking.fake_data.start_time - DateTime.now) / 86400).floor%> sleeps!</h6>
          <% else %>
            <h6 class="trip-countdown">It's today!</h6>
          <% end %>
        </button>
      <% end %>
    <% end %>
    <h5>Past trips:</h5>
    <% if @past_bookings.empty?%>
      <h6>You have no past trips.</h6>
    <% else %>
      <% @past_bookings.each do |booking| %>
        <button class="trip-item btn" type="button" data-bs-toggle="modal" data-bs-target="#id<%=booking.id%>modal">
          <div class="trip-box">
            <h6>To:</h6><%=booking.fake_data.destination%>
            <h6>On:</h6><%=booking.fake_data.start_time.strftime("%-d %^b")%>  <%= booking.fake_data.start_time.strftime("%R") %>
          </div>
          <h6 class="trip-countdown">That was fun!</h6>
        </button>
      <% end %>
    <% end %>
  </div>

  <%# Modals for travel info %>
  <% @bookings.each do |booking| %>
    <div class="modal fade" id="id<%=booking.id%>modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="d-flex justify-content-end">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="travel-mode">
              <i class="fas fa-<%=booking.fake_data.mode%>"></i>
              <%=booking.fake_data.mode.capitalize%>
            </div>
            <div class="modal-travel-timings">
              <div class="journey-leg">
                <p>Departure: </p>
                <p><%= booking.fake_data.start_time.strftime("%-d %^b")%>  <%= booking.fake_data.start_time.strftime("%R") %></p>
              </div>
              <p class="origin-destination"><%= booking.fake_data.origin%></p>
              <i class="fas fa-long-arrow-alt-down arrow-down"></i>
              <div class="journey-leg">
                <p>Arrival: </p>
                <p><%= booking.fake_data.end_time.strftime("%-d %^b")%>  <%= booking.fake_data.end_time.strftime("%R") %></p>
              </div>
              <p class="origin-destination"><%= booking.fake_data.destination%></p>
            </div>
            <div class="modal-travel-info">

              <% if booking.fake_data.duration > 60 %>
                <% hours = (booking.fake_data.duration / 60).to_i %>
                <% mins =  booking.fake_data.duration - (hours * 60)%>
                <p> <%=hours%>hr<%=mins%> </p>
              <% else %>
                <p> <%=@fastest.duration%>mins </p>
              <% end %>
            </div>
            <div class="travel-cost">
              <p>£<%=booking.fake_data.price%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
