<div class="abc-banner">
  <div class="d-flex justify-content-center">
    <h2 class="first_letter h-style">C</h2><h1 class="other-letters h-style">heckout Summary</h1>
  </div>
</div>
<div class="container">
  <div class="trip-payment-container">
    <div class="payment-info">
      <h6><strong>Purchase of:</strong></h6>
      <i class="fas fa-<%=@booking.result.mode%>"></i>
      <h5><strong>From:</strong></h5>
      <p><%= @booking.result.origin%>
      <p><%= @booking.result.start_time.strftime("%-d %^b")%>  <%= @booking.result.start_time.strftime("%R") %></p>
      <h5><strong>To:</strong></h5>
      <p><%= @booking.result.destination %>
      <p><%= @booking.result.end_time.strftime("%-d %^b")%>  <%= @booking.result.end_time.strftime("%R") %></p>
      <h5><strong>For:</strong></h5>
      <h6><%= humanized_money_with_symbol @booking.amount %></p></h6>
      <button id="pay" class="abc-btn" href="">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @booking.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
