<div class="page-container">
    <div class="title"  style="text-align:center">
      <div style="width: 100%; height: 300px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="rounded container abc-form info-box">
      <%= simple_form_for @parameter do |f| %>
      <div class="flex-items">
        <%= f.input :origin, placeholder: 'Origin', input_html: { class: 'orig' }, label: false %>
        <%= f.input :destination, placeholder: 'Destination', input_html: { class: 'dest' }, label: false %>
      </div>
      <%#= f.input :preferred_start, as: :date, html5: true %>
      <!--div class="flex-items"-->
        <%= f.input :preferred_start, label: "Preferred Departure", as: :string, required: false, input_html: {class: "datepicker"}, label_html: {class: "text-center w-100"}, placeholder: 'Preferred Departure' %>
      <!--/div-->
            <div class="collapse" id="collapseExample">
              <div class="text-center d-flex justify-content-center mb-0 pb-0">
                    <%= f.input :earliest_start, label: "Earliest Departure", as: :string, required: false, input_html: {class: "datepicker flex-it"}, placeholder: 'Start Date' %>
                    <%= f.input :latest_finish, label: "Latest Arrival", as: :string, required: false, input_html: {class: "datepicker flex-it"}, placeholder: 'End Date' %>
              </div>
            </div>
            <p>
            <div class="d-flex justify-content-center">
              <%= f.input_field :car, as: :boolean, boolean_style: :inline, input_html: {class: "checkboxes"} %>
              <p style="width: 100px; height: 25px;" class="text-center mb-0 leftit">Car?</p>
              <button class="btn btn-primary w-25 pt-0 rightit" style="height: 25px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Flexibility
              </button>
              <p style="width: 100px; height: 25px;" class="text-center mb-0">Railcard?</p>
              <%= f.input_field :railcard, as: :boolean, boolean_style: :inline, input_html: {class: "checkboxes"} %>
            </div>
            <p class = "optional-below">(optional)</p>
      </p>
      <div class="form-actions text-center p-3">
      <%= f.submit class: 'btn btn-block abc-btn shift-up', value: 'Take me there!', data: { disable_with: 'ABCheaping...' } %>
        <%#= f.button :submit, "Log in", class: 'btn abc-btn' %>
      </div>
      <% end %>
  </div>
</div>
<%= render 'shared/footer_nav' %>


<script>

  const input = document.querySelector('input');
  console.log(input);

  const label = document.querySelector('label');
  console.log(label);

  // button.addEventListener('click', console.log('hello'))
  if (input.classList.contains('green')) {
    console.log('hello');
  }
  else {
    console.log('bye');
  }


  if (label.classList.contains('&:active')) {
    console.log('hello');
  }
  else {
    console.log('bye');
  }

</script>
