<div class="newplanet">
  <div class="title" style="text-align:center">
    <div style="width: 100%; height: 200px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
    <div class="rounded container abc-search">
      <%= simple_form_for @parameter do |f| %>
      <%= f.input :origin %>
      <%= f.input :destination %>
      <%#= f.input :preferred_start, as: :date, html5: true %>
      <%= f.input :preferred_start, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :earliest_start, as: :string, required: false, input_html: {class: "datepicker"}  %>
      <%= f.input :latest_finish, as: :string, required: false, input_html: {class: "datepicker"}  %>
      <div class="form-actions text-center p-3">
        <%= f.submit class: 'btn btn-block abc-btn', value: 'GO!' %>
        <%#= f.button :submit, "Log in", class: 'btn abc-btn' %>
      </div>
      <% end %>
  </div>
</div>
