<div class="newsearch">
  <div class="map-container">
    <div id="map" class="abc-map"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="rounded container abc-form pt-4">
    <%= simple_form_for @parameter do |f| %>
    <div class="flex-items">
      <%= f.input :origin, placeholder: 'Origin', class: 'flex-item', label: false %>
      <%= f.input :destination, placeholder: 'Destination', class: 'flex-item', label: false %>
    </div>
    <%#= f.input :preferred_start, as: :date, html5: true %>
    <!--div class="flex-items"-->
    <%= f.input :preferred_start, as: :string, required: false, input_html: {class: "datepicker"}, label: 'Preferred Start Time' %>
    <%= f.input :earliest_start, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: 'Start Date' %>
    <%= f.input :latest_finish, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: 'End Date' %>
    <!--/div-->

    <div class="form-actions text-center p-3">
      <%= f.submit class: 'btn btn-block abc-btn', value: 'Take me there!', data: { disable_with: 'ABCheaping...' }%>
      <%#= f.button :submit, "Log in", class: 'btn abc-btn' %>
    </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer_nav' %>
