<div class="title"  style="text-align:center">
    <div id="map-routes" style="width: 100%; height: 200px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

<%= @fastest.origin %> <br>
<%= @fastest.duration %> <br>
<%= @fastest.cost %> <br>
<%= @fastest.mode %> <br>
<br>
<%= @cheapest.origin %> <br>
<%= @cheapest.duration %> <br>
<%= @cheapest.cost %> <br>
<%= @cheapest.mode %> <br>
<br>
<%= @recommended.origin %> <br>
<%= @recommended.duration %> <br>
<%= @recommended.cost %> <br>
<%= @recommended.mode %> <br>
