
  <div id="map-routes" style="width: 100%; height: 200px; z-index: -1;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class="container">
  <div class="container travel-container">
    <div class="a-to-b-info">
      <h4><%=@parameter.origin.capitalize %></h4> <i class="fas fa-long-arrow-alt-right"></i> <h4><%=@parameter.destination.capitalize%></h4>
    </div>
    <div class="options-card-container top-options-card">
      <div class="options-card">
        <button id="fastest-header" type="button" class="btn option-headers" data-bs-toggle="modal" data-bs-target="#fastestModal">
          <h6>Fastest</h6>
        </button>
        <div class="travel-options fastest">
          <div class="travel-timings">
            <p><%= @fastest.start_time.strftime("%R") %> - <%=@fastest.end_time.strftime("%R") %> </p>
          </div>
          <div class="travel-info">
            <p id="travel-info-cost">£<%=@fastest.cost%></p>
            <i class="fas fa-<%=@fastest.mode%>"></i>
            <% if @fastest.duration > 60 %>
              <% hours = (@fastest.duration / 60).to_i %>
              <% mins =  @fastest.duration - (hours * 60)%>
              <p> <%=hours%>hr<%=mins%> </p>
            <% else %>
              <p> <%=@fastest.duration%>mins </p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="options-card">
        <button id="cheapest-header" type="button" class="btn option-headers" data-bs-toggle="modal" data-bs-target="#cheapestModal">
          <h6>Cheapest</h6>
        </button>
        <div class="travel-options cheapest">
          <div class="travel-timings">
            <p><%= @cheapest.start_time.strftime("%R") %> - <%=@cheapest.end_time.strftime("%R") %> </p>
          </div>
          <div class="travel-info">
            <p id="travel-info-cost">£<%=@cheapest.cost%></p>
            <i class="fas fa-<%=@cheapest.mode%>"></i>
            <% if @cheapest.duration > 60 %>
              <% hours = (@cheapest.duration / 60).to_i %>
              <% mins =  @cheapest.duration - (hours * 60)%>
              <p> <%=hours%>hr<%=mins%> </p>
            <% else %>
              <p> <%=@cheapest.duration%>mins </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="options-card">
      <button id="recommended-header" type="button" class="btn option-headers" data-bs-toggle="modal" data-bs-target="#recommendedModal">
          <h6>Recommended</h6>
      </button>
      <div class="travel-options recommended">
        <div class="travel-timings">
          <p><%= @recommended.start_time.strftime("%R") %> - <%=@recommended.end_time.strftime("%R") %> </p>
        </div>
        <div class="travel-info">
          <p id="travel-info-cost">£<%=@recommended.cost%></p>
          <i class="fas fa-<%=@recommended.mode%>"></i>
          <% if @recommended.duration > 60 %>
            <% hours = (@recommended.duration / 60).to_i %>
            <% mins =  @recommended.duration - (hours * 60)%>
            <p> <%=hours%>hr<%=mins%> </p>
          <% else %>
            <p> <%=@recommended.duration%>mins </p>
          <% end %>
        </div>
        <div class="button-container">
          <%= simple_form_for @booking do |f|%>
            <%= f.input_field :fake_data_id, as: :hidden, value: @recommended.id %>
            <%= f.submit "Quick Book" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modals -->
<div class="modal fade" id="fastestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="fastest-header">
        <h5 class="modal-title" id="exampleModalLabel">Fastest</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="travel-mode">
          <i class="fas fa-<%=@fastest.mode%>"></i>
          <%=@fastest.mode.capitalize%>
        </div>

        <div class="modal-travel-timings">
          <div class="journey-leg">
            <p>Departure: </p>
            <p><%= @fastest.start_time.strftime("%-d %^b")%>  <%= @fastest.start_time.strftime("%R") %></p>
          </div>
          <p class="origin-destination"><%= @fastest.origin%></p>
          <i class="fas fa-long-arrow-alt-down arrow-down"></i>
          <div class="journey-leg">
            <p>Arrival: </p>
            <p><%= @fastest.end_time.strftime("%-d %^b")%>  <%= @fastest.end_time.strftime("%R") %></p>
          </div>
          <p class="origin-destination"><%= @fastest.destination%></p>
        </div>
        <div class="modal-travel-info">

          <% if @fastest.duration > 60 %>
            <% hours = (@fastest.duration / 60).to_i %>
            <% mins =  @fastest.duration - (hours * 60)%>
            <p> <%=hours%>hr<%=mins%> </p>
          <% else %>
            <p> <%=@fastest.duration%>mins </p>
          <% end %>
        </div>
        <div class="travel-cost">
          <p>£<%=@fastest.cost%></p>
        </div>

      </div>
      <div class="modal-footer">
        <%= simple_form_for @booking do |f|%>
          <%= f.input_field :fake_data_id, as: :hidden, value: @fastest.id %>
          <%= f.submit "Book" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cheapestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="cheapest-header">
        <h5 class="modal-title" id="exampleModalLabel">Cheapest</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="travel-mode">
          <i class="fas fa-<%=@cheapest.mode%>"></i>
          <%=@cheapest.mode.capitalize%>
        </div>

        <div class="modal-travel-timings">
          <div class="journey-leg">
            <p>Departure: </p>
            <p><%= @cheapest.start_time.strftime("%-d %^b")%>  <%= @cheapest.start_time.strftime("%R") %></p>
          </div>
          <p class="origin-destination"><%= @cheapest.origin%></p>
          <i class="fas fa-long-arrow-alt-down arrow-down"></i>
          <div class="journey-leg">
            <p>Arrival: </p>
            <p><%= @cheapest.end_time.strftime("%-d %^b")%>  <%= @cheapest.end_time.strftime("%R") %></p>
          </div>
          <p class="origin-destination"><%= @cheapest.destination%></p>
        </div>
        <div class="modal-travel-info">

          <% if @cheapest.duration > 60 %>
            <% hours = (@cheapest.duration / 60).to_i %>
            <% mins =  @cheapest.duration - (hours * 60)%>
            <p> <%=hours%>hr<%=mins%> </p>
          <% else %>
            <p> <%=@cheapest.duration%>mins </p>
          <% end %>
        </div>
        <div class="travel-cost">
          <p>£<%=@cheapest.cost%></p>
        </div>
      </div>
      <div class="modal-footer">
        <%= simple_form_for @booking do |f|%>
          <%= f.input_field :fake_data_id, as: :hidden, value: @cheapest.id %>
          <%= f.submit "Book" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="recommendedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="recommended-header">
        <h5 class="modal-title" id="exampleModalLabel">Recommended</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="travel-mode">
          <i class="fas fa-<%=@recommended.mode%>"></i>
          <%=@recommended.mode.capitalize%>
        </div>

        <div class="modal-travel-timings">
          <div class="journey-leg">
            <p>Departure: </p>
            <p><%= @recommended.start_time.strftime("%-d %^b")%>  <%= @recommended.start_time.strftime("%R") %></p>
          </div>
          <p class="origin-destination"><%= @recommended.origin%></p>
          <i class="fas fa-long-arrow-alt-down arrow-down"></i>
          <div class="journey-leg">
            <p>Arrival: </p>
            <p><%= @recommended.end_time.strftime("%-d %^b")%>  <%= @recommended.end_time.strftime("%R") %></p>
          </div>
          <p class="origin-destination"><%= @recommended.destination%></p>
        </div>
        <div class="modal-travel-info">

          <% if @recommended.duration > 60 %>
            <% hours = (@recommended.duration / 60).to_i %>
            <% mins =  @recommended.duration - (hours * 60)%>
            <p> <%=hours%>hr<%=mins%> </p>
          <% else %>
            <p> <%=@recommended.duration%>mins </p>
          <% end %>
        </div>
        <div class="travel-cost">
          <p>£<%=@recommended.cost%></p>
        </div>
      </div>
      <div class="modal-footer">
        <%= simple_form_for @booking do |f|%>
          <%= f.input_field :fake_data_id, as: :hidden, value: @recommended.id %>
          <%= f.submit "Book" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
